/* Mixins start */

@mixin gradient($startColor, $endColor) {
	background: $startColor; /* Old browsers */
	background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop(100%,$endColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $startColor 0%,$endColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $startColor 0%,$endColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $startColor 0%,$endColor 100%); /* IE10+ */
	background: linear-gradient(to bottom, $startColor 0%,$endColor 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 ); /* IE6-9 */
}

@mixin shadow() {

}

@mixin text-shadow($x, $y, $blur, $color) {
	text-shadow: $x $y $blur $color;
}

/* Mixins end */

.video-player {
	width: 640px;
	overflow: hidden;

	video.player {
		width: 640px;
		cursor: pointer;
		-webkit-filter: grayscale(0.4) brightness(0.9) sepia(0.1);
		filter: grayscale(0.4) brightness(0.9) sepia(0.1);
	}

	.controls {
		.play-slider {
			width: 640px;
			cursor: pointer;
			position: relative;
			bottom: 5px;
			z-index: 100;

			.play-slider-all {
				width: 100%;
				height: 10px;
				background-color: #111;
			}

			.play-slider-progress {
				width: 45%;
				height: 10px;
				@include gradient(#e73e4a, #c63a44);
				position: relative;
				bottom: 10px;
			}
		}

		.row {
			height: 100px;
			overflow: hidden;
			position: relative;
			bottom: 15px;
			left: 15px;
			

			.btn-prev, .btn-next {
				width: 100px;
				height: 100px;
				margin: 0;
				display: inline-block;
				position: relative;
				bottom: 19px;
				border: 1px solid #393a3c;
				border-top: 2px solid #393a3c;
				outline: none;
				border-radius: 0;
				@include gradient(#2e2f30, #1f2022);

				svg {
					width: 100%;
					height: 100%;
				}
			}

			.btn-next {
				right: 8px;
			}

			.description {
				width: 440px;
				height: 100px;
				margin: 0;
				padding-top: 20px;
				position: relative;
				right: 4px;
				display: inline-block;
				border: 1px solid #393a3c;
				border-top: 2px solid #393a3c;
				@include gradient(#2e2f30, #1f2022);
				
				span.title, span.band {
					display: block;
					text-align: center;
					@include text-shadow(1px, 1px, 2px, #1e1e20);
				}

				span.title {
					color: #fff;
					font-size: 20px;
				}

				span.band {
					margin-top: 5px;
					color: #474848;
					font-size: 18px;
				}
			}

		}

		.btn-play-pause {
			width: 100px;
			height: 100px;
			position: relative;
			bottom: 224 px;
			left: 1px;
			margin: 0;
			background: none;
			outline: none;
			border-radius: 0;
			border-right: 2px solid #393a3c;
	
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}